._ {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.dropdownWrapper {
  position: absolute;
  top: 0rem;
  right: 0rem;
  left: -1rem;
}

.text {
  font-size: 26px;
}
